@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="gameController as ctrl">
    <code style="white-space: pre-wrap;">
{{ctrl.engine}}
    </code>
    <code style="white-space: pre-wrap;">
{{ctrl.entities}}
    </code>
    <md-button class="md-raised md-primary" ng-click="ctrl.reset()">Resetear</md-button>
    <md-button class="md-raised md-primary" ng-click="ctrl.player1BuildHouse()">Jugador 1 - Construir casa</md-button>
    <div>{{ctrl.gameMessage}}</div>
</div>